{% extends 'base.html' %}

{% block pageheading %}
Journal Entries
{% endblock %}

{% block main %}
<div class="products">
    {% for entry in entries %}
    <div class="product-box">
        <h3 class="product-box-heading">Date: {{ entry.entry_date }}</h3>
        <p class="product-box-info"><strong>Mood:</strong> {{ entry.mood }}</p>
        <p class="product-box-info"><strong>Confidence Rating:</strong> {{ entry.confidence_rating }}</p>
        <p class="product-box-info"><strong>Health Activities:</strong> {{ entry.health_activities }}</p>
    </div>
    {% else %}
    <p>No journal entries yet.</p>
    {% endfor %}
</div>
{% endblock %}